$breakpoint-small: 576px;
$breakpoint-mobile: 577px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

@mixin small {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
