@import "config";
@import "overrideBootstrap";

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.go-to-top {
  $size: 50px;
  position: fixed;
  bottom: 3em;
  right: 2em;
  z-index: 100;
  background: $original-black;
  font-size: 1em;
  width: $size;
  height: $size;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  cursor: pointer;
  color: #fff;
}

.showScroll {
  opacity: 1;
  visibility: visible;
}
body {
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
  height: 100%;
}
/***** Loading *****/
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.loading div {
  background: $original-black;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  @include mobile {
    width: 30px;
    height: 30px;
  }
}

.c1 {
  opacity: 0;
  transform: translate(-30px);
  animation: load-1 0.5s linear infinite;
}

@keyframes load-1 {
  100% {
    opacity: 1;
    transform: translate(30px);
  }
}

.c2,
.c3 {
  animation: load 0.5s linear infinite;
}

@keyframes load {
  100% {
    transform: translate(30px);
  }
}

.c4 {
  animation: load-6 0.5s linear infinite;
}

@keyframes load-6 {
  100% {
    opacity: 0;
    transform: translate(60px);
  }
}

/***** header *****/
.top-header {
  background: #f8f8f8;
  color: $sub-text-color;
  @include mobile {
    padding: 0 1em;
  }
  @include desktop {
    padding: 0 6em;
  }
}

.top-header-left {
  .nav-item {
    font-size: 14px;

    &:nth-child(1) {
      letter-spacing: 0.6px;
    }
  }
}
.top-header-right {
  font-size: 14px;
  letter-spacing: 0.6px;

  .nav-item {
    transition: 0.3s;
    &:hover {
      color: #000;
    }
  }
}
.custom-navbar {
  padding: 2em 1em;
  background: #000;

  @include laptop {
    padding: 0 6em;
  }
}

.account {
  cursor: pointer;
  position: relative;
  &:hover .hover-account {
    top: 50px;
    opacity: 1;
    visibility: visible;
  }
}

.hover-account {
  position: absolute;
  background: #fff;
  width: 150px;
  color: #000;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in;
  z-index: 102;
  font-size: 1rem;
  bottom: unset;
  right: 0;
  top: 70px;

  .nav-link {
    padding: 0.3em 1em;
    text-transform: capitalize;
    color: #000;
  }
}

.basketShop {
  position: relative;

  &:hover .hover-cart {
    top: 30px;
    opacity: 1;
    visibility: visible;
    bottom: unset;
  }
}
.hover-cart {
  background: #fff;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  top: 50px;
  right: 0;
  left: unset;
  transform: unset;
  font-size: 1rem;
  color: #000;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in;

  &::first-letter {
    text-transform: capitalize;
  }
}

.gear {
  position: relative;
  &:hover .hover-gear {
    top: 30px;
    bottom: unset;
    opacity: 1;
    visibility: visible;
  }
}
.hover-gear {
  position: absolute;
  background: #fff;
  width: 180px;
  padding: 1em;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in;
  z-index: 100;
  top: 50px;
  bottom: unset;
  right: 0;

  h6 {
    text-transform: capitalize;
    color: #000;
    font-weight: 900;
  }

  .nav-item {
    color: #000;
    font-size: 1em;
    padding: 0.2em 1em;
    cursor: pointer;
    font-size: 1rem;
  }
  .language .nav-item {
    text-transform: capitalize;
  }
  .currency .nav-item {
    text-transform: uppercase;
  }
}

.wishlist {
  cursor: pointer;
}
.search-icon,
.gear-icon,
.cart-icon {
  font-size: 1.4em;
  color: #ddd;
  cursor: pointer;
}

.btn-sidebar {
  font-size: 28px;
  margin-right: 0.5em;
  color: #ddd;
  cursor: pointer;
}

.custom-toggler-navbar {
  margin-left: 0.5em;
}
/***** section Mobile Bottom *****/
@media (max-width: 577px) {
  .footer {
    margin-bottom: 60px;
  }
  .search-icon,
  .gear-icon,
  .cart-icon {
    font-size: unset;
    color: unset;
  }
  .top-header {
    height: 0;
    overflow: hidden;
  }
  .mobile-section {
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: $original-black;
    box-shadow: 0 -1px 5px #303030;
  }

  .account,
  .wishlist,
  .gear,
  .search,
  .basketShop {
    position: fixed;
    color: $sub-text-color;
    z-index: 101;
    bottom: 2%;
    transform: translateY(20px);
    font-size: 22px;
    cursor: pointer;
  }

  .text-wishlist,
  .text-account {
    display: none;
  }

  .hover-account {
    bottom: 20px;
    right: 0;
    left: unset;
    top: unset;
    transform: unset;
  }

  .top-header-right {
    .nav-item {
      transition: 0.3s;
      &:hover {
        color: $sub-text-color;
      }
    }
  }
  .account {
    &:hover .hover-account {
      opacity: 1;
      visibility: visible;
      bottom: 50px;
      top: unset;
    }
  }

  .gear {
    right: 16.6%;
    transform: translateX(16.6%);

    &:hover .hover-gear {
      opacity: 1;
      visibility: visible;
      bottom: 40px;
      top: unset;
    }

    .hover-gear {
      bottom: 20px;
      right: 0;
      left: unset;
      top: unset;
      transform: unset;
    }
  }

  .account {
    right: 33.3%;
    transform: translateX(33.3%);
  }
  .basketShop {
    right: 50%;
    transform: translateX(50%);

    &:hover .hover-cart {
      opacity: 1;
      visibility: visible;
      bottom: 50px;
      top: unset;
    }

    .hover-cart {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }
  }
  .wishlist {
    right: 66.4%;
    bottom: 3%;
    transform: translateX(66.4%);
  }

  .search {
    right: 83%;
    transform: translateX(83%);
  }
}

/***** LeftNavbar *****/
@media (max-width: 991.98px) {
  .nav-collapse {
    position: absolute;
    width: 100%;
    top: 75px;
    left: 0;
    padding: 1em 1em 1em 2em;
    background: $main-black;
    z-index: 2000;
  }
}

.bars {
  color: #ddd;
  font-size: 1.4em;
}
.logo {
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 1px;
  min-width: 132px;
  @include x-small {
    min-width: 120px;
  }
}
.rightNavbar-btn {
  position: relative;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
}

.count-shop-item {
  background: #d4d4d4;
  left: 20px;
  top: -5px;
  font-size: 0.5em;
  color: #000;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0 0 3px 0 gray;
  @include mobile {
    width: 21px;
    height: 21px;
    left: 10px;
    top: -20px;
    font-size: 0.7em;
  }
}

/***** Shop *****/
.special-offer {
  h6 {
    @extend %subTitle;
  }

  h3 {
    @extend %title;
    &::before {
      @extend %underline_title;
    }
  }
  p {
    font-size: clapm(14px, 2vw, 18px);
    color: $sub-text-color;
  }
}
.main-shop {
  margin-top: 1em;
}
.shop {
  min-height: 100vh;
}
.shop-img {
  filter: grayscale(90%);
  width: 200px;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-tools {
  bottom: 10px;
  right: 0.8em;
  color: #bbb;

  .product-tool {
    width: 20px;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}

.star {
  color: #bbb;
  cursor: pointer;
}

.fill {
  color: #000;
}

.product-content {
  min-height: 130px;
}
.new-price {
  font-weight: 900;
  font-size: 1.2em;
}

.old-price {
  color: $sub-text-color;
}
.text {
  min-height: 100px;
}

.title-product {
  color: #777;
  font-size: 1rem;
}

.noProduct {
  font-size: 1.5em;
}

/***** Cart & Like *****/

.cart-table {
  th {
    text-transform: uppercase;
    background: $original-black;
    color: #fff;
  }
  td,
  th {
    text-align: center;
    vertical-align: middle;
  }

  td {
    padding: 1em;
  }

  tbody tr {
    height: 150px;
  }
}

.row-wishlist {
  box-shadow: 0 0 4px 0 rgb(218, 218, 218);
  @include laptop {
    border-bottom: 2px solid #fff;
    box-shadow: unset;
  }
}

.col-wishlist {
  background: rgba(0, 0, 0, 0.03);
  margin: 2px 0;
  height: 100%;

  .content-wishlist {
    padding: 2em 0.5em 1em 0.5em;
    margin-top: 1em;
    width: 100%;

    @include mobile {
      padding: 0.7em;
      margin-top: 0;
      width: 50% !important;
    }

    @include laptop {
      width: 100% !important;
    }
  }

  &::before {
    position: absolute;
    content: attr(data-colName);
    font-weight: 900;
    text-transform: capitalize;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;

    @include mobile {
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }

    @include laptop {
      all: unset;
    }
  }
}

.imgCart {
  width: 70px;
  height: 80px;
  filter: grayscale(90%);
}
.noLike_cart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  h4 {
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 900;
  }
  p {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}
.likeItems .cartItems {
  background: rgba(34, 38, 42, 0.1);
  height: 100%;
}

.cart-item,
.like-item {
  height: 150px;
}

.likeRed {
  color: #000;
}
.likeBlack {
  color: #d3d3d3;
}

.btn-like {
  border: none;
  background-color: transparent;
}

.checkout-btn {
  background: $original-black;
  font-size: 14px;
}

/***** Modal *****/
.custom-modal-search {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search-modal {
  flex: 1;
}

.btn-search-modal {
  background: unset;
  border: unset;
  color: $main-black;
  font-size: 3rem;
  position: absolute;
  right: 1em;
  top: 1em;

  &:hover {
    background: unset;
    border: unset;
    color: $main-black;
    outline: none;
  }
}

.btn-submit-modalSearch {
  background: unset;
  border: unset;
  color: $main-black;
  font-size: 1.5rem;
  border-bottom: 2px solid $main-black;
  border-radius: 0;
  &:hover {
    background: unset;
    border-bottom: 2px solid $main-black;
    color: $main-black;
  }
}

.input-modal {
  border: none;
  border-bottom: 2px solid $main-black;
  border-radius: 0;

  &:focus {
    border-bottom: 2px solid $main-black;
  }
}

.custom-modal {
  width: 80vw;
  height: 80vh;
}
.custom-modal,
.custom-modal-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: overlay;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 5px;
  padding: 2em 2.5em 2em 2em;
  z-index: 1000;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5000;
}
.btn-common {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/***** ToastNotificaiton *****/
.toast-success {
  color: #fff;
  background: $original-black;
}

/***** 404 page *****/
.title-noPage {
  font-size: 10em;
  @include desktop {
    font-size: 13em;
  }
}
.subtitle-noPage {
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.btn-noPage {
  text-transform: capitalize;
}

/***** Page *****/
.page {
  font-size: 7em;
}

/***** Parralex *****/
.parallex {
  background: url("../img/parallex.jpg") no-repeat center / cover fixed;
  height: 100vh;
  @include x-small {
    background-position: 60% center;
  }
  filter: grayscale(90%);
}

.parallex-content {
  @include tablet {
    background: none;
    width: unset;
    left: 15%;
    transform: translate(-15%, -50%);
  }
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  padding: 0.4em;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;

  h2 {
    font-size: clamp(5rem, 10vw, 8rem);
    font-weight: 900;
    color: #fff;
    @include tablet {
      color: $original-black;
    }
  }

  h3 {
    font-size: clamp(2rem, 4vw, 5rem);
    color: #eee;
    letter-spacing: 1px;
    @include tablet {
      color: $original-black;
    }
  }
  h5 {
    font-size: clamp(1.3rem, 2vw, 3rem);
    color: #eee;
    letter-spacing: 0.3em;
    @include tablet {
      color: $original-black;
    }
  }
}

/***** React tab *****/

.title-tab {
  font-weight: 900;
  position: relative;
  letter-spacing: 1px;

  &::before {
    @extend %underline_title;
  }
}
.react-tab {
  .nav-link {
    border: none;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
  }
  .active {
    border: none;
    font-weight: 700;
  }

  justify-content: center;
  border: none;
}

/***** Logo img *****/
.logo-img {
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}

/***** Hero section *****/
.slick-content {
  height: 55vh;

  @include x-small {
    height: 60vh;
  }
  @include tablet {
    height: 70vh;
  }
  @include laptop {
    height: 75vh;
  }

  @include desktop {
    height: 80vh;
  }
  filter: grayscale(90%);

  .content {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    @include x-small {
      text-align: left;
      left: 5%;
    }
  }

  h4 {
    font-size: clamp(16px, 2vw, 20px);
    letter-spacing: 6px;
    text-transform: capitalize;
    color: $sub-text-color;
  }

  h2 {
    font-size: clamp(2rem, 6vw, 5rem);
    text-transform: uppercase;
    font-weight: 700;
  }

  .shop-now {
    @extend %style-tag-a;
    padding: 0.2em 2em;
    font-size: clamp(14px, 2vw, 16px);

    @extend %italicHover;
  }
}

.slick-prev,
.slick-next {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 100;
  &:hover,
  &:focus {
    background: #000;
  }
}

.slick-next::before,
.slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
}

.slick-next::before {
  content: "\f054";
}

.slick-prev::before {
  content: "\f053";
}

.hero-slider:hover .slick-next {
  opacity: 1;
  visibility: visible;
  right: 25px;
  @include desktop {
    right: 50px;
  }
}
.hero-slider:hover .slick-prev {
  opacity: 1;
  visibility: visible;
  left: 25px;
  @include desktop {
    left: 50px;
  }
}

/***** Sub-banner section *****/
.sub-banner {
  overflow: hidden;
  margin-bottom: 1em;

  @include tablet {
    margin-bottom: 0;
  }
  img {
    transition: 0.5s;
  }

  &:hover img {
    transform: scale(1.05);
  }
}

.men .sub-banner-content {
  right: 18%;
}
.women .sub-banner-content {
  right: 10%;
}
.sub-banner-content {
  bottom: 25%;
  text-align: center;

  h6 {
    text-transform: uppercase;
    font-size: clamp(1rem, 1.5vw, 3rem);
    @include x-small {
      font-size: 0.8em;
    }
    color: $main-black;
    letter-spacing: 0.5px;
  }
  h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: clamp(2.5rem, 4vw, 4rem);
    color: $original-black;
    @include x-small {
      font-size: 1.4rem;
    }
  }
}

/***** News *****/
.news {
  .img-news {
    font-size: 3em;
    color: $main-black;
    transition: 0.5s;
  }

  h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: $main-black;
    transition: 0.5s;
  }
  h5 {
    font-size: 14px;
    color: $sub-text-color;
    text-transform: capitalize;
    letter-spacing: 0.3px;
  }
}

.styleBorder {
  @include laptop {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}

.hover-news:hover {
  h3,
  .img-news {
    color: #000;
  }
}

/***** Blog *****/
.blog {
  h6 {
    @extend %subTitle;
  }

  h3 {
    @extend %title;
    &::before {
      @extend %underline_title;
    }
  }

  .blog-body {
    h6 {
      font-size: 14px;
      color: $main-black;
    }
    p {
      color: $original-black;
      font-size: 1.2em;
      position: relative;
      line-height: 1.2em;
      font-weight: 700;
      text-transform: uppercase;

      &::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 2px;
        background: #000;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    small {
      color: #777;
      text-transform: capitalize;
    }
  }
}
.blog-img {
  &:hover span {
    opacity: 0.5;
    bottom: 0;
  }
  span {
    position: absolute;
    display: inline-block;
    width: 25%;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    opacity: 0;
    bottom: 100%;
    z-index: 1;
    transition: all 0.4s step(4);
  }

  .one {
    left: 0;
    transition-delay: 0s;
  }
  .two {
    left: 25%;
    transition-delay: 0.25s;
  }
  .three {
    left: 50%;
    transition-delay: 0.05s;
  }
  .four {
    left: 75%;
    transition-delay: 0.15s;
  }
}

/***** Instagram *****/
.instagram {
  h3 {
    text-transform: uppercase;
    margin: 0.5em 0;
    font-weight: 900;
    font-size: $title-fontSize;
    letter-spacing: 1px;
  }

  .instagram-content {
    overflow: hidden;

    &:hover::before {
      opacity: 1;
      visibility: visible;
    }

    &:hover .instagram-icon {
      transform: translate(-50%, -50%) scale(1) rotate(0deg);
      opacity: 1;
      visibility: visible;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(33, 37, 41, 0.4);
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
    }
  }
}

.instagram-icon {
  color: #fff;
  font-size: 3em;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%) scale(5) rotate(90deg);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

/***** Footer *****/
.footer {
  background: #f8f8f8;

  .nav-link,
  .nav-item {
    color: $sub-text-color;
    padding: 0;
    font-size: clamp(14px, 4vw, 15px);
    text-transform: capitalize;
    position: relative;
  }

  .text-copyright {
    color: $sub-text-color;
    letter-spacing: 0.7px;
  }
  .footer-icon-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .footer-icon {
    filter: grayscale(90%) drop-shadow(0 0 2px #bbb);
  }
}

.left {
  @include desktop {
    border-right: 1px solid #dee2e6;
  }
  h4 {
    font-size: clamp(1rem, 4vw, 1.4rem);
  }
  h6 {
    color: $sub-text-color;
    text-transform: capitalize;
    letter-spacing: 0.6px;
    line-height: 1.4em;
    font-size: 15px;
  }
}

.right {
  .button-subscribe {
    @extend %btn-style;
    @extend %italicHover;
    padding: 0.8em 1.8em;
  }

  .email-input {
    padding: 0.7em 1.8em;
  }

  .form-subscribe {
    display: block;
    @include x-small {
      display: flex;
      flex-direction: column;
    }
  }
}

.top-footer {
  @include desktop {
    border-bottom: 1px solid #dee2e6;
  }
}
.mid-footer {
  .col {
    border: 1px solid red;
  }
  h3 {
    text-transform: uppercase;
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.3em;

    @include desktop {
      border-bottom: none;
    }
  }
  .col-one {
    .nav-link {
      transition: 0.3s;
      font-size: 1.4em;
      &:hover {
        color: $original-black;
      }
    }
    p {
      font-size: clamp(14px, 4vw, 16px);
      color: $sub-text-color;
      line-height: 1.8em;
    }
  }

  .col-four {
    svg {
      margin-right: 1.5em;
      display: inline-block;
      font-size: 14px;
    }
    .nav-item {
      display: flex;
      align-items: center;
    }
  }
  .nav-link {
    display: inline-block;
    &:hover::before {
      width: 100%;
    }
    &::before {
      content: "";
      transition: 0.4s;
      position: absolute;
      width: 0;
      height: 2px;
      background: $main-black;
      bottom: -5px;
      left: 0;
    }
  }
}

/***** Section Form *****/

label {
  color: $original-black;
  &::first-letter {
    text-transform: uppercase;
  }
}
.custom-button {
  @extend %btn-style;
  @extend %italicHover;
}

.register-button {
  @extend %style-tag-a;
  @extend %italicHover;
}

.register {
  h6 {
    text-transform: uppercase;
    margin-bottom: 0.6em;
    color: $original-black;
  }
  p {
    color: $sub-text-color;
    line-height: 1.8em;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.form-check-input {
  &:focus {
    border: 1px solid $sub-text-color;
  }
  &:checked {
    background: $original-black;
    border: none;
  }
}

.form-register {
  p {
    color: $sub-text-color;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
/***** Validation Form *****/
.invalid-feedback {
  &::first-letter {
    text-transform: uppercase;
  }
}

input,
textarea {
  &:focus {
    box-shadow: none !important;
  }
}

.term {
  padding-bottom: 1.5em;
  .invalid-feedback {
    position: absolute;
    bottom: 0;
    left: 1em;
  }
}

/***** Single Blog *****/
.single-blog-content {
  color: $sub-text-color;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.5px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.list-group-item {
  border: none;
  display: flex;
  gap: 0.2em;
  font-weight: 900;
  letter-spacing: 0.5px;
  padding: 0.5em 0;
}

.user-comment {
  h4 {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: initial;
  }
  .date-post {
    font-size: 13px;
    color: $sub-text-color;
  }

  .text-comment {
    font-size: 14px;
    color: $sub-text-color;
    letter-spacing: 1px;
    margin-top: 0.3em;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
.img-comment {
  width: 70px;
  height: 70px;
}

.detail-blog-post {
  color: $main-black;
}

:is(.date, .author, .count-like-post, .count-comment-post) {
  font-size: 14px;
  @include desktop {
    border-right: 1px solid #dee2e6;
  }
}

.user-comment {
  border-bottom: 1px solid #dee2e6;
  &:nth-child(1) {
    border-top: 1px solid #dee2e6;
  }
}

/***** BreadCrumb *****/
.breadCrumb-container {
  background: #f8f8f8;
  a,
  span {
    color: $sub-text-color;
  }
}

/***** Navigation menu *****/

.main-navLink > .nav-item > .nav-link {
  padding: 0.5em 2em;

  @include laptop {
    padding: 3em 1.5em 3em 0;
  }

  .arrow-menu {
    right: 2em;

    @include laptop {
      position: relative;
      right: -0.5em;
    }
  }
}
.main-navLink {
  padding: 1em 0;
  @include laptop {
    padding: 0;
  }
  .custom-dropdown {
    padding: 0 3em;
    @include laptop {
      padding: 0;
    }

    .nav-link {
      padding: 0.5em 1em;

      @include laptop {
        padding-right: 4em;
      }

      .arrow-menu {
        right: 1em;

        @include laptop {
          right: 1em;
        }
      }
    }
  }

  .subMenuDropdown {
    padding-left: 1em;

    @include laptop {
      padding-left: 0;
    }
  }

  .nav-link {
    transition: 0.3s;
    position: relative;

    &:hover {
      background: rgb(14, 14, 14);
      @include laptop {
        background: none;
      }
    }
  }
}

.arrow-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
}

/***** Skeleton *****/
.img-skeleton {
  height: 349px;
}
