/***** Importe Font *****/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
.special-offer h6, .blog h6 {
  text-transform: capitalize;
  font-size: clamp(1rem, 1vw, 1.5rem);
  letter-spacing: 0.5px;
}

.special-offer h3, .blog h3 {
  text-transform: uppercase;
  font-size: clamp(24px, 4vw, 35px);
  letter-spacing: 0.5px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0.7em;
  margin-top: 0.1em;
}

.special-offer h3::before, .products-tab .title-tab::before, .blog h3::before, .product-detail-tab .nav-tabs .title-tab::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #000;
}

.right .button-subscribe, .custom-button {
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  background: none;
  color: #fff;
  border: none;
  z-index: 1;
}

.slick-content .shop-now:hover, .right .button-subscribe:hover, .custom-button:hover, .register-button:hover {
  color: #000;
}

.slick-content .shop-now::after, .right .button-subscribe::after, .custom-button::after, .register-button::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #000;
}

.slick-content .shop-now::before, .right .button-subscribe::before, .custom-button::before, .register-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 280%;
  height: 500%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  z-index: -1;
  border: 1px solid #000;
}

.slick-content .shop-now:hover::before, .right .button-subscribe:hover::before, .custom-button:hover::before, .register-button:hover::before {
  left: -320px;
}

.slick-content .shop-now, .register-button {
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.overwriteBootstrap ul {
  padding: 0;
}

.overwriteBootstrap *:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: none;
  background-color: none;
}

.overwriteBootstrap a {
  text-decoration: none;
}

.overwriteBootstrap ul li {
  list-style: none;
}

.overwriteBootstrap img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.overwriteBootstrap .navbar-toggler {
  border: none;
}

.overwriteBootstrap .card-title {
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-bottom: 1em;
}

.overwriteBootstrap .card-text {
  font-size: 0.9em;
  color: #6c757d;
}

.overwriteBootstrap p {
  margin-bottom: 0;
}

.overwriteBootstrap h6,
.overwriteBootstrap h4 {
  margin-bottom: 0;
}

.overwriteBootstrap .react-loading-skeleton {
  border-radius: 0;
  line-height: initial;
}

@media all and (min-width: 992px) {
  .overwriteBootstrap #dropdown-control-area {
    height: auto !important;
    overflow: visible !important;
    position: absolute;
    background: black;
    top: 140px;
    left: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1000;
    -webkit-box-shadow: 0 0 8px 0 #1d1d1d;
            box-shadow: 0 0 8px 0 #1d1d1d;
  }
  .overwriteBootstrap #dropdown-control-area div {
    display: block !important;
  }
  .overwriteBootstrap #dropdown-control-area #dropdown-control-area {
    top: 0;
    left: 110%;
  }
  .overwriteBootstrap .mega-menu {
    width: 90vw;
  }
  .overwriteBootstrap .mega #dropdown-control-area {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .overwriteBootstrap .custom-dropdown {
    background: black;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1000;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .overwriteBootstrap .main-navLink > .nav-item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .overwriteBootstrap .main-navLink > .nav-item:hover > #dropdown-control-area {
    opacity: 1;
    visibility: visible;
    top: 120px;
  }
  .overwriteBootstrap .subMenuDropdown {
    position: absolute;
    background: black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .overwriteBootstrap .main-navLink .nav-item .nav-item:hover > #dropdown-control-area {
    opacity: 1;
    visibility: visible;
    left: 101% !important;
  }
}

.overwriteBootstrap .nav-collapse {
  background: #000;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
}

.overwriteBootstrap .navbar-nav .nav-item:not(:nth-child(4)) {
  position: relative;
}

.overwriteBootstrap .navbar-nav .nav-link {
  color: #aaa;
  text-transform: capitalize;
  cursor: pointer;
}

.overwriteBootstrap .navbar-nav .nav-link:focus {
  color: #aaa;
}

.overwriteBootstrap .navbar-nav .nav-link.active {
  color: #fff;
}

.overwriteBootstrap .navbar-nav .nav-link:hover {
  color: #fff;
}

textarea {
  resize: none;
}

.dropdown-menu-animated {
  position: absolute;
  margin: 0;
  -webkit-animation: AnimateDropdown 0.5s both;
          animation: AnimateDropdown 0.5s both;
  z-index: 1000;
}

@-webkit-keyframes AnimateDropdown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes AnimateDropdown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: normal;
  src: url("../Font/eot/Shabnam.eot");
  src: url("../Font/eot/Shabnam.eot?#iefix") format("embedded-opentype"), url("../Font/woff/Shabnam.woff2") format("woff2"), url("../Font/woff/Shabnam.woff") format("woff"), url("../Font/ttf/Shabnam.ttf") format("truetype");
}

@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: bold;
  src: url("../Font/eot/Shabnam-Bold.eot");
  src: url("../Font/eot/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("../Font/woff/Shabnam-Bold.woff2") format("woff2"), url("../Font/woff/Shabnam-Bold.woff") format("woff"), url("../Font/ttf/Shabnam-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: light;
  src: url("../Font/woff/Shabnam-Light.woff2") format("woff2"), url("../Font/woff/Shabnam-Light.woff") format("woff"), url("../Font/ttf/Shabnam-Light.ttf") format("truetype");
}

*,
*::before,
*::after {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Titillium Web', Shabnam, sans-serif;
  overflow-x: hidden;
  height: 100%;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.rtl {
  direction: rtl;
  text-align: right;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.go-to-top {
  position: fixed;
  bottom: 5em;
  right: 2em;
  z-index: 100;
  background: #000;
  font-size: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  color: #fff;
}

.showScroll {
  opacity: 1;
  visibility: visible;
}

/***** Loading *****/
.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
}

.loading div {
  background: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

@media (min-width: 577px) {
  .loading div {
    width: 30px;
    height: 30px;
  }
}

.c1 {
  opacity: 0;
  -webkit-transform: translate(-30px);
          transform: translate(-30px);
  -webkit-animation: load-1 0.5s linear infinite;
          animation: load-1 0.5s linear infinite;
}

@-webkit-keyframes load-1 {
  100% {
    opacity: 1;
    -webkit-transform: translate(30px);
            transform: translate(30px);
  }
}

@keyframes load-1 {
  100% {
    opacity: 1;
    -webkit-transform: translate(30px);
            transform: translate(30px);
  }
}

.c2,
.c3 {
  -webkit-animation: load 0.5s linear infinite;
          animation: load 0.5s linear infinite;
}

@-webkit-keyframes load {
  100% {
    -webkit-transform: translate(30px);
            transform: translate(30px);
  }
}

@keyframes load {
  100% {
    -webkit-transform: translate(30px);
            transform: translate(30px);
  }
}

.c4 {
  -webkit-animation: load-6 0.5s linear infinite;
          animation: load-6 0.5s linear infinite;
}

@-webkit-keyframes load-6 {
  100% {
    opacity: 0;
    -webkit-transform: translate(60px);
            transform: translate(60px);
  }
}

@keyframes load-6 {
  100% {
    opacity: 0;
    -webkit-transform: translate(60px);
            transform: translate(60px);
  }
}

/***** header *****/
.top-header {
  background: #f8f8f8;
  color: #888;
}

@media (min-width: 577px) {
  .top-header {
    padding: 0 1em;
  }
}

@media (min-width: 1200px) {
  .top-header {
    padding: 0 6em;
  }
}

.top-header-left .nav-item {
  font-size: 14px;
}

.top-header-left .nav-item:nth-child(1) {
  letter-spacing: 0.6px;
}

.top-header-right {
  font-size: 14px;
  letter-spacing: 0.6px;
}

.top-header-right .nav-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-header-right .nav-item:hover {
  color: #000;
}

.custom-navbar {
  padding: 2em 1em;
  background: #000;
}

@media (max-width: 400px) {
  .custom-navbar {
    padding: 2em 0.1em;
  }
}

@media (min-width: 992px) {
  .custom-navbar {
    padding: 0 6em;
  }
}

.account {
  cursor: pointer;
  position: relative;
}

.account .account-icon {
  font-size: 1.2em;
}

.account:hover .hover-account {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

.hover-account {
  position: absolute;
  background: #fff;
  width: 150px;
  color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  z-index: 102;
  font-size: 1rem;
  bottom: unset;
  right: 0;
  top: 70px;
}

.hover-account .nav-link {
  padding: 0.3em 1em;
  text-transform: capitalize;
  color: #000;
}

.basketShop {
  position: relative;
}

.basketShop:hover .hover-cart {
  top: 30px;
  opacity: 1;
  visibility: visible;
  bottom: unset;
}

.hover-cart {
  background: #fff;
  padding: 0.5em 1em;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 50px;
  right: 0;
  left: unset;
  -webkit-transform: unset;
          transform: unset;
  font-size: 1rem;
  color: #000;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.hover-cart::first-letter {
  text-transform: capitalize;
}

.wishlist {
  cursor: pointer;
}

.search-icon,
.compare-icon,
.cart-icon {
  font-size: 1.4em;
  color: #ddd;
  cursor: pointer;
}

.btn-sidebar {
  font-size: 28px;
  margin-right: 0.5em;
  color: #ddd;
  cursor: pointer;
}

.custom-toggler-navbar {
  margin-left: 0.5em;
}

/***** section Mobile Bottom *****/
@media (max-width: 577px) {
  .footer {
    margin-bottom: 60px;
  }
  .search-icon,
  .compare-icon,
  .cart-icon {
    font-size: unset;
    color: unset;
    color: #888;
  }
  .top-header {
    height: 0;
    overflow: hidden;
  }
  .mobile-section {
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #000;
    -webkit-box-shadow: 0 -1px 5px #303030;
            box-shadow: 0 -1px 5px #303030;
  }
  .account,
  .wishlist,
  .compare,
  .search,
  .basketShop {
    position: fixed;
    color: #888;
    z-index: 101;
    bottom: 2%;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    font-size: 22px;
    cursor: pointer;
  }
}

@media (max-width: 577px) and (max-width: 400px) {
  .account,
  .wishlist,
  .compare,
  .search,
  .basketShop {
    font-size: 18px;
    bottom: 5%;
  }
}

@media (max-width: 577px) {
  .text-wishlist,
  .text-account {
    display: none;
  }
  .hover-account {
    bottom: 20px;
    right: 0;
    left: unset;
    top: unset;
    -webkit-transform: unset;
            transform: unset;
    -webkit-box-shadow: 0 0 3px #bbb;
            box-shadow: 0 0 3px #bbb;
  }
  .top-header-right .nav-item {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .top-header-right .nav-item:hover {
    color: #888;
  }
  .account:hover .hover-account {
    opacity: 1;
    visibility: visible;
    bottom: 50px;
    top: unset;
  }
  .compare {
    right: 16.6%;
    -webkit-transform: translateX(16.6%);
            transform: translateX(16.6%);
  }
  .account {
    right: 33.3%;
    -webkit-transform: translateX(33.3%);
            transform: translateX(33.3%);
  }
  .basketShop {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .basketShop:hover .hover-cart {
    opacity: 1;
    visibility: visible;
    bottom: 50px;
    top: unset;
  }
  .basketShop .hover-cart {
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 20px;
  }
  .wishlist {
    right: 66.4%;
    bottom: 2%;
    -webkit-transform: translateX(66.4%);
            transform: translateX(66.4%);
  }
}

@media (max-width: 577px) and (max-width: 400px) {
  .wishlist {
    bottom: 6%;
  }
}

@media (max-width: 577px) {
  .search {
    right: 83%;
    -webkit-transform: translateX(83%);
            transform: translateX(83%);
  }
}

/***** LeftNavbar *****/
@media (max-width: 991.98px) {
  .nav-collapse {
    position: absolute;
    width: 100%;
    top: 75px;
    left: 0;
    padding: 1em 1em 1em 2em;
    background: rgba(33, 37, 41, 0.7);
    z-index: 2000;
  }
}

.bars {
  fill: #ddd;
  font-size: 1.4em;
}

.logo {
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  min-width: 132px;
}

@media (max-width: 400px) {
  .logo {
    min-width: 120px;
  }
}

.rightNavbar-btn {
  position: relative;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
}

.count-shop-item {
  background: #d4d4d4;
  left: 20px;
  top: -5px;
  font-size: 0.5em;
  color: #000;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-shadow: 0 0 3px 0 gray;
          box-shadow: 0 0 3px 0 gray;
}

@media (min-width: 577px) {
  .count-shop-item {
    width: 21px;
    height: 21px;
    left: 10px;
    top: -20px;
    font-size: 0.7em;
  }
}

/***** Shop *****/
.special-offer p {
  font-size: clapm(14px, 2.5vw, 18px);
  color: #888;
}

.main-shop {
  margin-top: 1em;
}

.main-shop .slick-list {
  padding: 0.5em 0 !important;
}

.shop-img {
  width: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.product-tools {
  bottom: 10px;
  right: 0.8em;
  color: #bbb;
}

.product-tool {
  width: 15px;
  height: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.product-tool:hover {
  color: #000;
}

.container-size .size-item {
  width: 30px;
  height: 30px;
  background: rgba(33, 37, 41, 0.7);
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  cursor: pointer;
}

.star {
  color: #bbb;
  cursor: pointer;
}

.fill {
  color: #000;
}

.product-content {
  min-height: 130px;
}

.new-price {
  font-weight: 500;
  font-size: 1em;
}

.old-price {
  color: #888;
}

.text {
  min-height: 100px;
}

.title-product {
  color: #777;
  font-size: 0.9rem;
}

.noProduct {
  font-size: 1.5em;
}

/***** Cart & Like *****/
.cart-table th {
  text-transform: uppercase;
  background: #000;
  color: #fff;
}

.cart-table td,
.cart-table th {
  text-align: center;
  vertical-align: middle;
}

.cart-table td {
  padding: 1em;
}

.cart-table tbody tr {
  height: 150px;
}

.row-wishlist {
  -webkit-box-shadow: 0 0 4px 0 #dadada;
          box-shadow: 0 0 4px 0 #dadada;
}

@media (min-width: 992px) {
  .row-wishlist {
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

.col-wishlist {
  background: rgba(0, 0, 0, 0.03);
  margin: 2px 0;
  height: 100%;
}

.col-wishlist .content-wishlist {
  padding: 2em 0.5em 1em 0.5em;
  margin-top: 1em;
  width: 100%;
}

@media (min-width: 577px) {
  .col-wishlist .content-wishlist {
    padding: 0.7em;
    margin-top: 0;
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .col-wishlist .content-wishlist {
    width: 100% !important;
  }
}

.col-wishlist::before {
  position: absolute;
  content: attr(data-colName);
  font-weight: 500;
  text-transform: capitalize;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10px;
}

@media (min-width: 577px) {
  .col-wishlist::before {
    width: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px;
  }
}

@media (min-width: 992px) {
  .col-wishlist::before {
    all: unset;
  }
}

.imgCart {
  width: 70px;
  height: 80px;
}

.noLike_cart {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.noLike_cart h4 {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 700;
}

@media (max-width: 400px) {
  .noLike_cart h4 {
    font-size: 1em;
  }
}

.noLike_cart p {
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: capitalize;
}

@media (max-width: 400px) {
  .noLike_cart p {
    font-size: 0.8em;
  }
}

@media (max-width: 400px) {
  .noLike_cart img {
    width: 60px;
    height: 60px;
  }
}

.likeItems .cartItems {
  background: rgba(34, 38, 42, 0.1);
  height: 100%;
}

.cart-item,
.like-item {
  height: 150px;
}

.likeBlack {
  color: #000;
}

.likeGray {
  color: #d3d3d3;
}

.btn-like {
  border: none;
  background-color: transparent;
}

.checkout-btn {
  background: #000;
  font-size: 14px;
}

/***** Modal *****/
.custom-modal-search {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-search-modal {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn-search-modal {
  background: unset;
  border: unset;
  color: rgba(33, 37, 41, 0.7);
  font-size: 3rem;
  position: absolute;
  right: 1em;
  top: 1em;
}

.btn-search-modal:hover {
  background: unset;
  border: unset;
  color: rgba(33, 37, 41, 0.7);
  outline: none;
}

.btn-submit-modalSearch {
  background: unset;
  border: unset;
  color: rgba(33, 37, 41, 0.7);
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(33, 37, 41, 0.7);
  border-radius: 0;
}

.btn-submit-modalSearch:hover {
  background: unset;
  border-bottom: 2px solid rgba(33, 37, 41, 0.7);
  color: rgba(33, 37, 41, 0.7);
}

.input-modal {
  border: none;
  border-bottom: 2px solid rgba(33, 37, 41, 0.7);
  border-radius: 0;
}

.input-modal:focus {
  border-bottom: 2px solid rgba(33, 37, 41, 0.7);
}

.custom-modal {
  width: 80vw;
  height: 80vh;
}

.custom-modal,
.custom-modal-search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: overlay;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  border-radius: 5px;
  padding: 2em 2.5em 2em 2em;
  z-index: 1000;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5000;
}

.btn-common {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

/***** ToastNotificaiton *****/
.toast-success {
  color: #fff !important;
  background: #000 !important;
}

/***** 404 page *****/
.title-noPage {
  font-size: 10em;
}

@media (max-width: 400px) {
  .title-noPage {
    font-size: 4em;
  }
}

@media (min-width: 1200px) {
  .title-noPage {
    font-size: 13em;
  }
}

.subtitle-noPage {
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 1em;
}

@media (max-width: 400px) {
  .subtitle-noPage {
    font-size: 1.2em;
  }
}

.btn-noPage {
  text-transform: capitalize;
}

/***** Page *****/
.page {
  font-size: 7em;
}

/***** Parralex *****/
.parallex {
  background: url("../img/parallex.jpg") no-repeat center/cover fixed;
  height: 100vh;
  position: relative;
}

@media (max-width: 400px) {
  .parallex {
    background-position: 60% center;
  }
}

.parallex-content {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  padding: 0.4em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .parallex-content {
    background: none;
    width: unset;
    left: 15%;
    -webkit-transform: translate(-15%, -50%);
            transform: translate(-15%, -50%);
  }
}

.parallex-content h2 {
  font-size: clamp(5rem, 10vw, 8rem);
  font-weight: 700;
  color: #fff;
}

@media (min-width: 768px) {
  .parallex-content h2 {
    color: #000;
  }
}

.parallex-content h3 {
  font-size: clamp(2rem, 4vw, 5rem);
  color: #eee;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .parallex-content h3 {
    color: #000;
  }
}

.parallex-content h5 {
  font-size: clamp(1.3rem, 2vw, 3rem);
  color: #eee;
  letter-spacing: 0.3em;
}

@media (min-width: 768px) {
  .parallex-content h5 {
    color: #000;
  }
}

/***** React tab *****/
.products-tab .title-tab {
  font-weight: 700;
  position: relative;
  letter-spacing: 1px;
}

.products-tab .react-tab {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.products-tab .react-tab .nav-link {
  border: none;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
}

.products-tab .react-tab .active {
  border: none;
  font-weight: 700;
}

/***** Logo img *****/
.logo-img {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logo-img:hover {
  opacity: 1;
}

/***** Hero section *****/
.slick-content {
  height: 55vh;
}

@media (max-width: 400px) {
  .slick-content {
    height: 60vh;
  }
}

@media (min-width: 768px) {
  .slick-content {
    height: 70vh;
  }
}

@media (min-width: 992px) {
  .slick-content {
    height: 75vh;
  }
}

@media (min-width: 1200px) {
  .slick-content {
    height: 80vh;
  }
}

.slick-content .content {
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

@media (max-width: 400px) {
  .slick-content .content {
    text-align: left;
    left: 5%;
  }
}

.slick-content h4:lang(fa) {
  letter-spacing: 0;
}

.slick-content h4 {
  font-size: clamp(16px, 2vw, 20px);
  letter-spacing: 6px;
  text-transform: capitalize;
  color: #888;
}

.slick-content h2 {
  font-size: clamp(2rem, 6vw, 5rem);
  text-transform: uppercase;
  font-weight: 700;
}

.slick-content .shop-now {
  padding: 0.2em 2em;
  font-size: clamp(14px, 2vw, 16px);
}

.next-arrow,
.prev-arrow {
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next-arrow:hover, .next-arrow:focus,
.prev-arrow:hover,
.prev-arrow:focus {
  background: #000;
}

.next-arrow {
  right: -100px;
}

.prev-arrow {
  left: -100px;
}

.hero-slider:hover .next-arrow {
  opacity: 1;
  visibility: visible;
  right: 25px;
}

@media (min-width: 1200px) {
  .hero-slider:hover .next-arrow {
    right: 50px;
  }
}

.hero-slider:hover .prev-arrow {
  opacity: 1;
  visibility: visible;
  left: 25px;
}

@media (min-width: 1200px) {
  .hero-slider:hover .prev-arrow {
    left: 50px;
  }
}

/***** Sub-banner section *****/
.sub-banner {
  overflow: hidden;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .sub-banner {
    margin-bottom: 0;
  }
}

.sub-banner img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sub-banner:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.men .sub-banner-content {
  right: 18%;
}

.women .sub-banner-content {
  right: 10%;
}

.sub-banner-content {
  bottom: 25%;
  text-align: center;
}

.sub-banner-content h6 {
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 3rem);
  color: rgba(33, 37, 41, 0.7);
  letter-spacing: 0.5px;
}

@media (max-width: 400px) {
  .sub-banner-content h6 {
    font-size: 0.8em;
  }
}

.sub-banner-content h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: #000;
}

@media (max-width: 400px) {
  .sub-banner-content h4 {
    font-size: 1.4rem;
  }
}

/***** News *****/
.news .img-news {
  font-size: 3em;
  color: rgba(33, 37, 41, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(33, 37, 41, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news h5 {
  font-size: 14px;
  color: #888;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

@media (min-width: 992px) {
  .styleBorder {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}

.hover-news:hover h3,
.hover-news:hover .img-news {
  color: #000;
}

/***** Blog *****/
.blog .blog-body h6 {
  font-size: 14px;
  color: rgba(33, 37, 41, 0.7);
}

.blog .blog-body p {
  color: #000;
  font-size: 1.2em;
  position: relative;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.blog .blog-body p::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background: #000;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blog .blog-body small {
  color: #777;
  text-transform: capitalize;
}

.blog-img:hover span {
  opacity: 0.5;
  bottom: 0;
}

.blog-img span {
  position: absolute;
  display: inline-block;
  width: 25%;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  opacity: 0;
  bottom: 100%;
  z-index: 1;
  -webkit-transition: all 0.4s step(4);
  transition: all 0.4s step(4);
}

.blog-img .one {
  left: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.blog-img .two {
  left: 25%;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.blog-img .three {
  left: 50%;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.blog-img .four {
  left: 75%;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

/***** Instagram *****/
.instagram h3 {
  text-transform: uppercase;
  margin: 0.5em 0;
  font-weight: 700;
  font-size: clamp(24px, 4vw, 35px);
  letter-spacing: 1px;
}

.instagram .instagram-content {
  overflow: hidden;
}

.instagram .instagram-content:hover::before {
  opacity: 1;
  visibility: visible;
}

.instagram .instagram-content:hover .instagram-icon {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
          transform: translate(-50%, -50%) scale(1) rotate(0deg);
  opacity: 1;
  visibility: visible;
}

.instagram .instagram-content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 37, 41, 0.4);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.instagram-icon {
  color: #fff;
  font-size: 3em;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(5) rotate(90deg);
          transform: translate(-50%, -50%) scale(5) rotate(90deg);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/***** Footer *****/
.footer {
  background: #f8f8f8;
}

.footer .nav-link,
.footer .nav-item {
  color: #888;
  padding: 0;
  font-size: clamp(14px, 4vw, 15px);
  text-transform: capitalize;
  position: relative;
}

.footer .text-copyright {
  color: #888;
  letter-spacing: 0.7px;
}

.footer .footer-icon-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.footer .footer-icon {
  -webkit-filter: drop-shadow(0 0 2px #bbb);
          filter: drop-shadow(0 0 2px #bbb);
}

@media (min-width: 1200px) {
  .left {
    border-right: 1px solid #dee2e6;
  }
}

.left h4 {
  font-size: clamp(1rem, 4vw, 1.4rem);
}

.left h6 {
  color: #888;
  text-transform: capitalize;
  letter-spacing: 0.6px;
  line-height: 1.4em;
  font-size: 15px;
}

.right .button-subscribe {
  padding: 0.8em 1.8em;
}

.right .email-input {
  padding: 0.7em 1.8em;
}

.right .form-subscribe {
  display: block;
}

@media (max-width: 400px) {
  .right .form-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .top-footer {
    border-bottom: 1px solid #dee2e6;
  }
}

.mid-footer .col {
  border: 1px solid red;
}

.mid-footer h3 {
  text-transform: uppercase;
  font-size: clamp(16px, 4vw, 18px);
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.3em;
}

@media (min-width: 1200px) {
  .mid-footer h3 {
    border-bottom: none;
  }
}

.mid-footer .col-one .nav-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.4em;
}

.mid-footer .col-one .nav-link:hover {
  color: #000;
}

.mid-footer .col-one p {
  font-size: clamp(14px, 4vw, 16px);
  color: #888;
  line-height: 1.8em;
}

.mid-footer .col-four svg {
  margin-right: 1.5em;
  display: inline-block;
  font-size: 14px;
}

.mid-footer .col-four .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-footer .nav-link {
  display: inline-block;
}

.mid-footer .nav-link:hover::before {
  width: 100%;
}

.mid-footer .nav-link::before {
  content: '';
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  width: 0;
  height: 2px;
  background: rgba(33, 37, 41, 0.7);
  bottom: -5px;
  left: 0;
}

/***** Section Form *****/
label {
  color: #000;
}

label::first-letter {
  text-transform: uppercase;
}

.register h6 {
  text-transform: uppercase;
  margin-bottom: 0.6em;
  color: #000;
}

.register p {
  color: #888;
  line-height: 1.8em;
}

.register p::first-letter {
  text-transform: uppercase;
}

.form-check-input:focus {
  border: 1px solid #888;
}

.form-check-input:checked {
  background: #000;
  border: none;
}

.form-register p {
  color: #888;
}

.form-register p::first-letter {
  text-transform: uppercase;
}

/***** Validation Form *****/
.invalid-feedback::first-letter {
  text-transform: uppercase;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.term {
  padding-bottom: 1.5em;
}

.term .invalid-feedback {
  position: absolute;
  bottom: 0;
  left: 1em;
}

/***** Single Blog *****/
.single-blog-content {
  color: #888;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.5px;
}

.single-blog-content::first-letter {
  text-transform: uppercase;
}

.list-group-item {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2em;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.5em 0;
}

.user-comment h4 {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: initial;
}

.user-comment .date-post {
  font-size: 13px;
  color: #888;
}

.user-comment .reply {
  font-size: 0.9em;
  cursor: pointer;
  color: rgba(33, 37, 41, 0.7);
  font-weight: bold;
  text-transform: capitalize;
}

.user-comment .text-comment {
  font-size: 14px;
  color: #888;
  letter-spacing: 1px;
  margin-top: 0.3em;
  word-wrap: break-word;
}

.user-comment .text-comment::first-letter {
  text-transform: uppercase;
}

.img-comment {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 400px) {
  .img-comment {
    width: 50px;
    height: 50px;
  }
}

.detail-blog-post {
  color: rgba(33, 37, 41, 0.7);
}

:is(.date, .author, .count-like-post, .count-comment-post) {
  font-size: 14px;
}

@media (min-width: 1200px) {
  :is(.date, .author, .count-like-post, .count-comment-post) {
    border-right: 1px solid #dee2e6;
  }
}

@media (max-width: 400px) {
  .comment {
    padding: 0.5em;
  }
}

.user-comment {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .user-comment {
    border-radius: 5px;
  }
}

.user-comment .user-comment {
  border: none;
  background: #f3f3f3;
}

/***** BreadCrumb *****/
.breadCrumb-container {
  background: #f8f8f8;
}

.breadCrumb-container a,
.breadCrumb-container span {
  color: #888;
}

/***** Navigation menu *****/
.main-navLink > .nav-item > .nav-link {
  padding: 0.5em 2em;
}

@media (min-width: 992px) {
  .main-navLink > .nav-item > .nav-link {
    padding: 3em 1.5em 3em 0;
  }
}

.main-navLink > .nav-item > .nav-link .arrow-menu {
  right: 2em;
}

@media (min-width: 992px) {
  .main-navLink > .nav-item > .nav-link .arrow-menu {
    position: relative;
    right: -0.5em;
  }
}

.main-navLink {
  padding: 1em 0;
}

@media (min-width: 992px) {
  .main-navLink {
    padding: 0;
  }
}

.main-navLink .custom-dropdown {
  padding: 0 3em;
}

@media (min-width: 992px) {
  .main-navLink .custom-dropdown {
    padding: 0;
  }
}

.main-navLink .custom-dropdown .nav-link {
  padding: 0.5em 1em;
}

@media (min-width: 992px) {
  .main-navLink .custom-dropdown .nav-link {
    padding-right: 4em;
  }
}

.main-navLink .custom-dropdown .nav-link .arrow-menu {
  right: 1em;
}

@media (min-width: 992px) {
  .main-navLink .custom-dropdown .nav-link .arrow-menu {
    right: 1em;
  }
}

.main-navLink .subMenuDropdown {
  padding-left: 1em;
}

@media (min-width: 992px) {
  .main-navLink .subMenuDropdown {
    padding-left: 0;
  }
}

.main-navLink .nav-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.main-navLink .nav-link:hover {
  background: #0e0e0e;
}

@media (min-width: 992px) {
  .main-navLink .nav-link:hover {
    background: none;
  }
}

.arrow-menu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.8em;
}

/***** Skeleton *****/
.img-skeleton {
  height: 349px;
}

/***** Category *****/
.range-input {
  accent-color: #000;
}

.filterProduct h3 {
  font-size: 1.5em;
  letter-spacing: 1px;
}

.filterProduct h5 {
  font-size: 1em;
}

.filterPanel {
  top: 0px;
  right: 0;
  z-index: 100000;
  display: block;
  position: absolute;
  width: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 400px) {
  .filterPanel {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .filterPanel {
    position: relative;
    top: unset;
    right: unset;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 0;
    width: auto;
  }
}

.hideFilter {
  right: -100%;
}

.showFilter {
  right: 0;
}

.btn-remove-filter {
  cursor: pointer;
  background: #000;
}

/***** allShop *****/
.allShop {
  overflow-x: hidden;
}

.custom-card {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.custom-card:hover {
  -webkit-box-shadow: 0 0 4px #cccccc;
          box-shadow: 0 0 4px #cccccc;
}

.custom-card .container-img-custom-card {
  background: #f8f8f8;
}

.custom-card .img-custom-card {
  height: 260px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noProductMatch {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.7em;
}

@media (max-width: 400px) {
  .control-shop-product {
    width: 100%;
  }
}

/***** ProductDetail *****/
.product-detail .product-tool {
  width: 22px;
  height: 22px;
}

.product-detail-description p {
  color: #888;
}

.activeSize {
  background: #000 !important;
}

.color-product {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.color-product .check2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-detail-tab .nav-tabs {
  border: none;
}

.product-detail-tab .nav-tabs .title-tab {
  font-weight: 700;
  position: relative;
  letter-spacing: 1px;
}

.product-detail-tab .nav-tabs .nav-link {
  color: #000;
  font-weight: normal;
  text-transform: capitalize;
  border: none;
}

.product-detail-tab .nav-tabs .active {
  font-weight: 700;
  border-bottom: 1px solid #dee2e6;
}

.product-detail-tab .tab-content {
  padding: 1em 2em;
}

.product-detail-tab .tab-content .tab-pane {
  color: #888;
  line-height: 1.8em;
}

/***** Setting *****/
.setting {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000000;
  right: 0;
  font-size: 2em;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em;
  cursor: pointer;
}

.language {
  position: fixed;
  top: 50%;
  z-index: 1000000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3.2em;
}

.language li {
  cursor: pointer;
  padding: 0.5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

.language li:hover {
  background-color: #eeeeee;
}
/*# sourceMappingURL=main.css.map */